body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d37575;
  font-family: system-ui, sans-serif;
}

body > * {
  text-align: center;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* YES style */
button.yes {
  background-color: #4caf50;
  color: white;
}

/* NO style */
button.no {
  background-color: #f44336;
  color: white;
}

/* When No becomes Yes */
button.no.yes-mode {
  background-color: #4caf50;
  color: white;
}